.row
	.col-lg-12
		img(src="/images/photo01.jpg", width="100%")
		hr
		img(src="/images/photo02.jpg", width="100%")
		hr
		img(src="/images/photo03.jpg", width="100%")
		hr
		img(src="/images/photo04.jpg", width="100%")
		hr
		img(src="/images/photo05.jpg", width="100%")
		hr
		img(src="/images/photo06.jpg", width="100%")
		hr
		p All pictures are licensed under&nbsp;
			a(href="https://creativecommons.org/publicdomain/zero/1.0/", target="_blank") Public Domain
			| .
