!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title NTD-Web Application
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
    hr
    .container
        div &copy; 2015&nbsp;
            a(href="http://www.nt.uni-saarland.de/", target="_blank") Telecommunications Lab
            |  - All pictures are licensed under&nbsp;
            a(href="https://creativecommons.org/publicdomain/zero/1.0/", target="_blank") Public Domain
            | .
